/* *{
  margin: 0px;
  padding: 0px;
} */

@media (max-width:2000px) {
  .maxwidthdiv{
    width: 100%;
  }
}

.grid-container {
   display: grid;
   grid-template-columns: 15% 85%;
    
   }

.ber {
  width: 2.4vw;
  height: 2.4vw;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, white 71%, transparent 70% 100%),
    conic-gradient(rgb(244, 245, 247) 25%, rgb(226, 230, 5) 0);
}

.ber1 {
  width: 2.4vw;
  height:2.4vw;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, white 71%, transparent 70% 100%),
    conic-gradient(rgb(246, 240, 242) 45%, rgb(212, 143, 155) 0);
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1.2vw;
  width: 1.2vw;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}


/* table code */
#table1 {
  margin-top: 1.2rem;
  width: 100%;
  border-collapse: collapse;
  border: .1px solid rgb(146, 144, 144);
  border-radius: 10px !important;
   
  padding: 4px;
  
}

#table1 th {
  background-color: #cbd1d8;
}

#table1 td,
#table1 th {
  padding: 8px;
}

#table1 tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table1 tr:hover {
  background-color: #ddd;
}

#table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}

.table_row {
  font-size: 1.1rem;
}

.dashBoard {
   /* padding-left: 2rem; */
  min-height: 100vh;
   padding: 20px;
    box-shadow: rgba(93, 91, 91, 0.1) 0px 4px 12px;
  position: fixed;
  left: 0;
  top: 0;

 
  
 }

.Mainpagecss {
 
  height: 100vw;
  width:89%;
  padding: 20px;
     padding-left: 1.2rem;
 }